<div class="task-section">
  <h2>Задача 1</h2>
  <app-input-with-button (onButtonClick)="getUser($event)"></app-input-with-button>

  <div class="user-table" *ngIf="gotUser; else userTableEmpty">
    <div class="user-table__header">
      <div>
        <span>Аватар</span>
      </div>
      <div>
        <span>Имя</span>
      </div>
      <div>
        <span>Почта</span>
      </div>
      <div>
        <span>Телефон</span>
      </div>
    </div>

    <div class="user-table__body">
      <div>
        <img src="{{user.pictureUrl}}">
      </div>
      <div>
        <span>{{user.fullName}}</span>
      </div>
      <div>
        <span>{{user.email}}</span>
      </div>
      <div>
        <span>{{user.phone}}</span>
      </div>
    </div>
  </div>

  <ng-template #userTableEmpty>
    <div class="warn">
      <span>Введите год и нажмите на кнопку</span>
    </div>
  </ng-template>
</div>
